*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 background-color: #F15946;
  color: #FF9F1C;
}
header{
  font-size: 2em;
  margin: 20px 25%;
}
#displayData{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
div #articles{
  width: 25%;
  height: 200px;
  background-color: #FF5F49;
  border: 2px solid #DB513F;
  margin: 10px;
}


button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}
